<%
   addcss = [ "/css/style", "/css/bundle" ]
   addjs = [ "/js/bundle"]
   messager = false
%>


<div id="app">
  <div class="initLoader" style="font-size: 20vmin; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <i class="fa fa-times fa-spin" style="color: black;"></i>
  </div>
</div>

