<%
   addcss = [ "/css/style", "/css/bundle" ]
   addjs = [ "/js/bundle"]
   messager = false
   %>

<style>
@keyframes spin1 {
    0%   { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); } 
}

.initLoader {
  transform-origin: 50% 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  color: white;
text-align: center;
padding: .5em;
  height: 2em;
  width: 25vmin;
  animation: spin1 1s linear infinite;
}

</style>


<div id="app" />
<div class="initLoader">loading</div>
</div>

